body {
    text-align: center;
    background-color: rgb(216, 208, 208);
    margin: 50px;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

h1 {
    font-family: "Oswald", sans-serif;
  text-align: center;
  color: black;
}

p {
  font-family: "Oswald", sans-serif;
  text-align: center;
  color: #6f6969;
}

a {
  color: rgb(134, 56, 69);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#todays-challenge {
    color: chocolate;
    font-size: 52px;
    font-weight: bold;
}




