body {
  font-family: "Playwrite NZ", curvive, sans-serif;
  text-align: center;
  background-color: rgb(183, 175, 175);
}

header {
  margin: 12px;
}

header h1 {
  margin-top: 0%;
}

h1 {
  color: rgb(236, 40, 40);
  margin-bottom: 6px;
}

header p {
  margin-top: 0;
}

h2 {
  padding: 12px 48px;
  border-radius: 4px;
}

a {
  background-color: blueviolet;
  color: white;
  text-decoration: none;
  padding: 16px;
  margin-left: 20px;
  display: inline-block;
}

a:hover {
  color: rgb(5, 9, 9);
  text-decoration: none;
}

ol {
  list-style: none;
  width: 500px;
  margin: 36px auto 0 auto;
  padding: 0;
}

li {
    background-color: rgb(236, 119, 90);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    color: white;
    padding: 16px;
    margin: 32px;
}

.highlight {
  background-color: rgb(202, 75, 43);;
}

h2 {
  color: rgb(245, 242, 242);
  font-family: 'Times New Roman', Times, serif;
}

main p {
  margin: 12px;
  color: rgb(35, 25, 137);
}


