body {
  font-family: "Playwrite NZ", curvive, sans-serif;
  text-align: center;
  background-color: rgb(183, 175, 175);
}

h1 {
  color: rgb(109, 19, 19);
}

h2 {
  color: coral;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: rgb(5, 9, 9);
  text-decoration: underline;
}

p {
  color: black;
}
